.about-us {
  padding: 40px 0;
}

.about-as__title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  color: #55C2FF;
}

.about-as__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-as__advantage {
  flex-grow: 1;
  width: 100%;
}

.about-us__exchange-rates {
  max-width: 380px;
}

@media (max-width: 1024px) {
  .about-as__container {
    flex-direction: column;
    gap: 20px;
  }
}

