.advantage__list-btn {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 54px;
}

.advantage__button {
  width: 180px;
  height: 47px;
  /*padding: 10px 36px;*/
  background-color: #68B7FF;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  transition-property: border-color, background-color;
  transition-duration: 0.36s;
  transition-timing-function: ease-in-out;
}

.advantage__button:hover {
  border-color: #1C88EB;
}

.advantage__button_active, 
.advantage__button:active {
  border-color: #1C88EB;
  background-color: #1C88EB;
}

.advantage__item-content {
  max-width: 640px;
  margin: 0 auto;
  display: none;
  align-items: center;
  gap: 40px;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
}

.advantage__item-content_active {
  display: flex;
}

.advantage__item-content:before {
  content: '';
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantage__item-content_convenience:before {
  background-image: url('../../images/shester.svg');
}

.advantage__item-content_speed:before {
  background-image: url('../../images/speed.svg');
}

.advantage__item-content_quality:before {
  background-image: url('../../images/star.svg');
}

.advantage__item-content_security:before {
  background-image: url('../../images/security.svg');
}

@media (max-width: 860px) {
  .advantage__button {
    width: 160px;
    height: 39px;
    /*padding: 10px 40px;*/
    font-size: 16px;
    line-height: 19px;
  }

  .advantage__list-btn {
    margin-bottom: 35px;
  }

  .advantage__item-content {
    font-size: 16px;
    line-height: 21px;
  }
}

@media (max-width: 720px) {
  .advantage__list-btn {
    flex-wrap: wrap;
    max-width: 340px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .advantage__list-btn {
    margin-bottom: 30px;
  }

  .advantage__button {
    width: 140px;
  }

  .advantage__item-content {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .advantage__item-content:before {
    width: 60px;
    height: 60px;
  }
}

